requests
setuptools
selenium
typing_extensions
lxml
beautifulsoup4
soupsieve
jupyter
pip
pathlib
panel
attrs
zlib
distro
wheel
openssl
cryptography
utils
pillow
docutils
sphinx
tornado
jinja2
mistune
packaging
zipp
cython
future
platformdirs
snownlp